* {
    font-size: 100%;
    font-family: 'Muli';
    text-align: justify;
    text-justify: inter-word;
}

.navbar {
    min-height:28px;
    line-height: 14px;
}

section {
    padding : 25px;
}

#mapid {
    height: 350px;
}

.info {
    padding: 8px 8px;
    font-size: 14px;
    color: black;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: auto;
}

ul {
    padding-left: 33px;
    padding-bottom: 5px;
}

.widget.form .form-group {
  position: relative;
}

.widget.form input, textarea{
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 0.95em;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  background: none;
}

.widget.form textarea{
  min-height: 150px;
  height: 250px;
}

.widget.form span{
  height: 40px;
  line-height: 40px;
}

.widget.form input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aaa;
  font-family: "Muli", sans-serif;
}

.widget.form input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aaa;
  font-family: "Muli", sans-serif;
}

.widget.form input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #aaa;
  font-family: "Muli", sans-serif;
}

.widget.form .send {
  width: 100%
}

.post {
  margin: 20px 0;
}

.post-meta {
  margin: 10px 0;
}

img.thumbnail {
  width: 100%;
  object-fit: cover;
}

footer.main-footer {
  padding: 12px 0 0;
}
